/* logged-in-message {
    font-size: 15px;
    font-size: 10000%;
    color: #dddddd;
  } */
  /* #button {
    position: absolute;
  }

  .score-container {
    display: none;
  } */

/* .container {
  width: 50%;
} */


  
